/* Colors from https://randoma11y.com/ */

:root {
  --bg: #dc6e22;
  --fg: #2f001c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #2f001c;
    --fg: #dc6e22;
  }
}

body {
  margin: 1rem;
  background: var(--bg);
  color: var(--fg);
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
}

blockquote {
  margin-left: 0;
  padding-left: 2rem;
  border-left: .25rem solid;
  font-size: 1.25rem;
}

a {
  color: var(--fg);
}

h1 {
  font-size: 3rem;
  font-weight: 800;
}

h2 {
  font-size: 2.5rem;
  font-weight: 400;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
}

main {
  max-width: 80ch;
  margin: .75rem;
  margin: auto;
}

img {
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: .5rem 1.5rem;
  border: 1px solid;
}

figure {
  margin: 3rem auto;
}

figcaption {
  margin-top: 1rem;
  text-align: center;
}

pre {
  overflow-x: scroll;
  padding: 1rem;
  background-color: var(--fg);
  color: var(--bg);
}

dt {
  padding: 1rem .5rem;
  font-size: 1.5rem;
  font-weight: 200;
}

dt + dd:not(:empty) {
  border-top: 1px dashed;
}

dd {
  margin-bottom: 2rem;
}

footer {
  margin-top: 6rem;
  padding: 2rem 0;
  border-top: .5rem solid;
  text-align: center;
}