:root {
  --bg: #fff;
  --fg: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #000;
    --fg: lime;
  }
}

html {
  font-size: 1.25rem;
  font-weight: 200;
  line-height: 1.75;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--fg);
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

main {
  max-width: 70ch;
  padding: 2.5rem .5rem;
  margin: auto;
}

blockquote {
  margin-left: 0;
  padding-left: 2rem;
  border-left: .25rem solid;
  font-size: 1.25rem;
}

a {
  color: var(--fg);
}

h1, h2, h3 {
  margin-top: 0;
  line-height: 1;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

img {
  width: 100%;
}

ul {
  margin: 0;
  padding-left: 1rem;
}

ul ul {
  padding-left: 2.5rem;
}

li > a {
  font-weight: 400;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-style: hidden;
}

th {
  background: var(--fg);
  color: var(--bg);
  font-weight: 400;
}

thead th {
  font-weight: 800;
}

th,
td {
  padding: .5rem 1.5rem;
  border: 1px solid;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(calc(35ch - 1rem), 100%), 1fr));
  gap: 1rem;
  margin-bottom: 2rem;
}

.grid > figure {
  margin: 0 0 1rem 0;
}

figure {
  margin: 3rem auto;
}

figure.left {
  clear: both;
  float: left;
  margin: 0 1.5rem;
  width: 50%;
}

@media (max-width: 800px) {
  figure.left {
    margin: 3rem auto;
    width: 100%;
  }
}

figure img {
  border: 1px solid;
}

figcaption {
  margin-top: 1rem;
  text-align: center;
}

pre {
  overflow-x: scroll;
  padding: 1rem;
  background-color: var(--fg);
  color: var(--bg);
}

dl {
  margin-bottom: 4.5rem;
}

dl em {
  font-weight: 300;
}


dt {
  padding: 1rem .5rem;
  font-size: 1.25rem;
  font-weight: 200;
  border-bottom: 1px dashed;
}

dt + dd:not(:empty) {
  margin-bottom: 2rem;
  padding: .5rem 1.5rem;
}

/* dd {
  margin-bottom: 2rem;
} */

footer {
  margin-top: 6rem;
  padding-top: 2rem;
  border-top: .5rem solid;
  text-align: center;
}