/* Colors from https://randoma11y.com/?color=orange */

body {
  background: #ecf897;
  color: black;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
}

a {
  color: black; 
}

@media (prefers-color-scheme: dark) {
  body {
    background: black;
    color: #ecf897;
  }
  a {
    color: #ecf897;
  }
}

main {
  max-width: 80ch;
  margin: .75rem;
  margin: auto;
}

img {
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid;
}

th, td {
  border: 1px solid;
}

footer {
  margin-top: 1em;
  padding-top: .5em;
  border-top: 1px dotted;
}
